.zzf-alert {
  color: var(--color-text-0);
  padding: 8px 15px;
  border-radius: var(--border-radius-small);
  &-info {
    color: var(--color-info);
    background-color: var(--color-info-light-default);
  }
  &-success {
    background-color: var(--color-success-light-default);
    color: var(--color-success);
  }
  &-warning {
    background-color: var(--color-warning-light-default);
    color: var(--color-warning);
  }
  &-error {
    background-color: var(--color-danger-light-default);
    color: var(--color-danger);
  }
}
