.zzf-alert {
  color: var(--color-text-0);
  padding: 8px 15px;
  border-radius: var(--border-radius-small);
  &-info {
    color: var(--color-text-0);
    background-color: var(--color-info);
    border: 1px solid var(--color-info-hover);
  }
  &-success {
    background-color: var(--color-success);
    border: 1px solid var(--color-success-hover);
  }
  &-warning {
    background-color: var(--color-warning);
    border: 1px solid var(--color-warning-hover);
  }
  &-error {
    background-color: var(--color-danger);
    border: 1px solid var(--color-danger-hover);
  }
}
