:root{
  --color-brand: #1352a3;
  --color-nav-title: #e3e3e3;
  --color-nav-popup-bg: #1352A3;
  --color-primary: #e3e3e3;
  --color-secondary: #a9a9a9;
  --color-thirdly: #7d7d7f;
  --color-hover: #eeeeee;
  --color-hover-thirdly: #878789;
  --color-divider: #4a4a4a;
  --color-main-bg: #121212;
  --color-secondary-bg: #272727;
  --color-thirdly-bg: #3a3a3a;
  --color-mask: rgba(0, 0, 0, 0.4);
  --color-nav-bg: rgba(30, 30, 30, 0.15);
  --color-nav-selected-border: #4a4a4a;
  --color-tips: #bc3030;
  --color-fourthly: #878789;
  --color-shadow: rgba(0, 0, 0, 0.16);
  --color-grey-triangle: #3a3a3a;
  --color-icon-search: #e3e3e3;
}
