.zzf-box-responsive {
  display: flex;
  justify-content: space-between;
}

.zzf-box-responsive-main {
  @media (max-width: 1023.98px) {
    width: 100%;
  }
  @media (min-width: 1024px) {
    width: 1000px;
  }
  @media (min-width: 1280px) {
    width: 1200px;
  }
  @media (min-width: 1536px) {
    width: 1500px;
  }
}

.zzf-box-responsive-content {
  @media (max-width: 1023.98px) {
    width: 100%;
  }
  @media (min-width: 1024px) {
    width: 75%;
  }
}

.zzf-box-responsive-slider {
  @media (max-width: 1023.98px) {
    display: none;
  }
  @media (min-width: 1024px) {
    width: 23%;
  }
}
