.zzf-box-responsive {
  display: flex;
  justify-content: space-between;
}
.zzf-box-responsive-main {
  @media (max-width: 1023.98px) {
    width: 100%;
  }
  @media (min-width: 1024px) {
    width: 1024px;
  }
}

.zzf-box-responsive-content {
  @media (max-width: 1023.98px) {
    width: 100%;
  }
  @media (min-width: 1024px) {
    width: 580px;
  }
}

.zzf-box-responsive-slider {
  @media (max-width: 1023.98px) {
    display: none;
  }
  @media (min-width: 1024px) {
    width: 450px;
  }
}
