@mixin colors-light {
  --color-text-link: #0969da;
  --color-text-inverse: #ffffff;
  --color-text-primary: #24292f;
  --color-text-secondary: #57606a;
  --color-text-tertiary: #6e7781;
  --color-bg-inverse: #24292f;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #ffffff;
  --color-bg-tertiary: #f6f8fa;
  --color-border-primary: #d0d7de;
  --color-border-secondary: hsla(210,18%,87%,1);
  --color-border-tertiary: rgba(27,31,36,0.15);
  --color-brand-1:hsl(278, 100%, 96%);
  --color-brand-2:hsl(276, 84%, 89%);
  --color-brand-3:hsl(274, 79%, 83%);
  --color-brand-4:hsl(272, 77%, 76%);
  --color-brand-5:hsl(270, 76%, 71%);
  --color-brand-6:hsl(268, 74%, 65%);
  --color-brand-7:hsl(266, 52%, 50%);
  --color-brand-8:hsl(264, 65%, 37%);
  --color-brand-9:hsl(262, 81%, 25%);
  --color-brand-10:hsl(260, 100%, 15%);
}


@mixin colors-dark {
  --color-text-link: #58a6ff;
  --color-text-inverse: #f0f6fc;
  --color-text-primary: #c9d1d9;
  --color-text-secondary: #8b949e;
  --color-text-tertiary: #484f58;
  --color-bg-inverse: #161b22;
  --color-bg-primary: #0d1117;
  --color-bg-secondary: #161b22;
  --color-bg-tertiary: #010409;
  --color-border-primary: #30363d;
  --color-border-secondary: #21262d;
  --color-border-tertiary: rgba(240,246,252,0.1);
  --color-brand-1:hsl(259, 100%, 15%);
  --color-brand-2:hsl(262, 83%, 25%);
  --color-brand-3:hsl(264, 65%, 37%);
  --color-brand-4:hsl(266, 51%, 50%);
  --color-brand-5:hsl(268, 73%, 66%);
  --color-brand-6:hsl(268, 74%, 65%);
  --color-brand-7:hsl(272, 74%, 79%);
  --color-brand-8:hsl(273, 77%, 85%);
  --color-brand-9:hsl(277, 80%, 90%);
  --color-brand-10:hsl(279, 100%, 97%);
}

