@mixin colors-light {
  --color-text-link: #7290fe;
  --color-text-inverse: #000012;
  --color-text-primary: #b29fb2;
  --color-text-secondary: #b29fb2;
  --color-text-tertiary: #ffe9ff;
  --color-bg-inverse: #24292f;
  --color-bg-primary: #fdffff;
  --color-bg-secondary: #b1b2b2;
  --color-bg-tertiary: #fdffff;
  --color-border-primary: #2e4261;
  --color-border-secondary: #202e43;
  --color-border-tertiary: #576780;
}


@mixin colors-dark {
  --color-text-link: #003a98;
  --color-text-inverse: #000012;
  --color-text-primary: #a982aa;
  --color-text-secondary: #765b76;
  --color-text-tertiary: #ba9bbb;
  --color-bg-inverse: #161b22;
  --color-bg-primary: #99b9c1;
  --color-bg-secondary: #6b8187;
  --color-bg-tertiary: #adc7cd;
  --color-border-primary: #000012;
  --color-border-secondary: #00000c;
  --color-border-tertiary: #333341;
}

