.zzf-ipt {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-1);
  vertical-align: middle;
  background-color: var(--color-fill-2);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid transparent;
  border-radius: var(--border-radius-small);
  outline: none;
  width: 100%;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--color-fill-1);
  }
  &:focus,
  &:active {
    border-color: rgb(var(--primary-6));
    background-color: var(--color-bg-2);
    box-shadow: 0 0 0 0 var(--color-primary-light-2);
  }
}
