.zzf-back-top {
  position: fixed;
  cursor: pointer;
  @media (max-width: 1023.98px) {
    right: 60px;
    bottom: 60px;
  }
  @media (min-width: 1024px) {
    right: calc((100vw - 1000px) / 2);
    bottom: 200px;
  }
  @media (min-width: 1280px) {
    right: calc((100vw - 1200px) / 2);
    bottom: 200px;
  }
}
