.web-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.webContent {
  width: 100%;
  display: flex!important;
  .aside{
    width: 150px;
    border-right: 1px solid var(--color-border);
  }
}
.center{
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 56px;
  box-sizing: border-box;
  overflow: hidden;
  //overflow:initial!important;
}
.container {
  margin: 0 auto;
  width:100%;
  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}
