.zzf-btn {
  width: auto;
  padding: 5px 16px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  color: rgba(var(--white), 1);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius-small);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  &:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary);
    transition-duration: 0.1s;
  }
  &:active {
    background-color: var(--color-primary-active);
  }
  &:focus {
    outline: none;
  }
  &-light{
    color: var(--color-primary);
    border: 0 solid transparent;
    background-color: var(--color-fill-0);
    &:hover{
      background-color: var(--color-fill-1)
    }
    &:active{
      background-color:var(--color-fill-2)
    }
  }
}
