.zzf-btn {
  width: auto;
  border-radius: 6px;
  padding: 5px 16px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  color: var(--color-text-info);
  background-color: var(--color-bg-tertiary);
  transition: .2s cubic-bezier(.3,0,.5,1);
  transition-property: color,background-color,border-color;
  &:hover{
    background-color: var(--color-bg-decorative);
    color: var(--color-text-primary);
    opacity: .8;
    transition-duration: .1s;
  }
  &:active{
    background-color: var(--color-bg-decorative);
  }
  &:focus{
    outline: none;
  }
}
