.zzf-layout {
  background-color: var(--color-bg-primary);
  margin: auto;
}

.zzf-layout-main {
  flex: 1;
  padding: 0 16px;
  margin: auto;
  background:  var(--color-bg-primary);
}

.zzf-layout-content {

}
.zzf-layout-slider{
  width: 200px;
  position: sticky;
  height: 100%;
  top: 20px;
}
.zzf-layout-header {
  background-color: var(--color-bg-inverse);
  color: var(--color-text-inverse);
  .zzf-layout-header-content{
    padding: 0 16px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.zzf-layout-footer {
  background-color: var(--color-bg-inverse);
  color: var(--color-text-inverse);
  display: flex;
  justify-content: center;
}
.zzf-layout-row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.zzf-layout-column{
  display: flex;
  flex-flow: column nowrap;
}
