.zzf-layout {
  margin: auto;
}

.zzf-layout-main {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.zzf-layout-content {
  //padding: 16px;
}
.zzf-layout-slider{
  position: sticky;
  height: 100%;
  top: 20px;
}
.zzf-layout-header {
  padding: 16px;
}

.zzf-layout-footer {
  background-color: #233e8b;
  display: flex;
  justify-content: center;
}
