.zzf-layout {
  background-color: var(--color-bg-primary);
  margin: auto;
}

.zzf-layout-main {
  flex: 1;
  padding: 0 16px;
  margin: auto;
  background: var(--color-bg-primary);
}

.zzf-layout-slider {
  position: sticky;
  height: 100%;
  top: 80px;
}

.zzf-layout-header {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: var(--color-bg-brand);
  color: var(--color-text-secondary);

  .zzf-layout-header-content {
    padding: 0 16px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.zzf-layout-footer {
  background-color: var(--color-bg-brand);
  color: var(--color-text-secondary);
  display: flex;
  justify-content: center;
}

.zzf-layout-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.zzf-layout-column {
  display: flex;
  flex-flow: column nowrap;
}
