$bg: var(--color-bg-decorative);
.zzf-tag {
  display: inline-block;
  color: var(--color-gray-1000);
  background-color: var(--color-bg-decorative);
  font-weight: var(--font-weight-medium);
  font-size: 12px;
  border-radius: 8px;
  line-height: 22px;
  padding: 3px 12px;

  &:hover {
    opacity: 0.8;
  }
}
