$bg: var(--color-bg-decorative);
.zzf-tag {
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB,
  Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 8px;
  height: 24px;
  line-height:24px;

  &-light {
    background-color: rgba(var(--brand-5), 0.15);
    color: rgba(var(--brand-8), 1);
  }
  &-ghost {
    background-color: transparent;
    border: 1px solid rgba(var(--brand-4), 1);
    color: rgba(var(--brand-5), 1);
    box-sizing: content-box;
  }
  &-solid {
    background-color: rgba(var(--brand-5),1);
    border: 1px solid rgba(var(--brand-4), 1);
    color: rgba(var(--white),1);
    box-sizing: content-box;
  }
}
