@import '../dist/theme';

:root,
[data-color-mode='light'] {
  @include colors-light;
}

[data-color-mode='dark'] {
  @include colors-dark;
}
body {
  color: var(--color-text-0);
  background-color: var(--color-bg-0);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.header {
  height: 60px;
  background-color: var(--color-bg-primary);
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 11fr;

  .nav {
    min-height: 100vh;
    background-color: var(--color-bg-primary);

    .nav-item {
      height: 40px;
      line-height: 40px;
      text-align: right;
      padding: 0 15px;
      cursor: pointer;
      color: var(--color-text-primary);
    }

    .active {
      background-color: var(--color-primary);
    }
  }
  .content {
    background-color: var(--color-bg-default);
    padding: 20px;
    h2 {
      margin: 10px 0;
    }
  }
}

.live-editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 300px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: var(--color-bg-primary);
  .preview {
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  .code {
    background-color: var(--color-bg-default);
  }
}
